<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h1>test app</h1>

    <h2> ... some description of this</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now</a>
  </div>
</div>
